@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");

body {
  font-family: "Joan", serif;
  background-color: black;
  color: white;
  text-align: center;

  input {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    text-indent: 4px;
    font-family: "Joan", serif;
    font-size: 20px;
  }

  button {
    border-radius: 5px;
    font-family: "Joan", serif;
    padding: 10px;
    font-size: large;
    background-color: aquamarine;
    margin-top: 20px;

    &:hover {
      background-color: #e2e2e2;
      transform: scale(1.05);
      cursor: pointer;
      transition: 1s all;
    }
  }
}
